# Please uncomment and specify values for these options as per your requirements.

# This is the marketplace subscribed product: PX-ENTERPRISE or PX-ENTERPRISE-DR
awsProduct: "PX-ENTERPRISE"         #This is the default.

clusterName: mycluster              # This is the default. please change it to your cluster name.
namespace: kube-system              # This is the default. Change this if you don't plan to install in kube-system

storage:
  usefileSystemDrive: false         # true/false Instructs PX to use an unmounted Drive even if it has a filesystem.
  usedrivesAndPartitions: false     # Defaults to false. Change to true and PX will use unmounted drives and partitions.
  drives: none                      # NOTE: This is a ";" seperated list of drives. For eg: "/dev/sda;/dev/sdb;/dev/sdc" Defaults to use -A switch.
                                    # To have drives automatically created specify the drive spec. For Eg: "type=gp2,size=150" or "type=io1,size=100,iops=2000"
  journalDevice:
  maxStorageNodesPerZone:

network:
  dataInterface: none               # Name of the interface <ethX>
  managementInterface: none         # Name of the interface <ethX>

secretType: k8s                     # Defaults to k8s, but can be aws-kms/k8s/none
envVars: none                       # NOTE: This is a ";" seperated list of environment variables. For eg: MYENV1=myvalue1;MYENV2=myvalue2

csi: false                          # Enable CSI

internalKVDB: true                  # internal KVDB

customRegistryURL:
registrySecret:

serviceAccount:

aws:
  repos:
    enterprise: "117940112483.dkr.ecr.us-east-1.amazonaws.com/3a3fcb1c-7ee5-4f3b-afe3-d293c3f9beb4/cg-225286984"
    dr: "117940112483.dkr.ecr.us-east-1.amazonaws.com/6a97e814-fbe5-4ae3-a3e2-14ca735b5e6b/cg-2648516897"
  versions:
    enterprise: "PortworxEnterprise2.6-latest"
    dr: "PortworxEnterprise2.6-latest"

versions:
  operator: "1.4.0-rc1"
  enterprise: "2.6.1-rc2"
  ociMon: "2.6.1"
  autoPilot: "1.3.0"
  stork: "2.4.5"
